config==0.5.1
Flask==2.2.5
Flask_Limiter==2.9.0
Flask_Login==0.6.2
Flask_SQLAlchemy==3.1.1
GitPython==3.1.29
mysql_connector_repackaged==0.3.1
requests==2.28.1
trycourier==4.4.0
Werkzeug==2.3.8
Flask-Markdown==0.3
markdown==3.4.3